<br>
<h1>Welcome</h1>

<div class="content-welc">
 <img height=300 src="https://ciclovivo.com.br/wp-content/uploads/2016/01/16709401_1417083658336970_568622001_o-696x464.jpg">

  <div class="text-welc">
   <h4>With O-Flow you upload your activities and create your own training sessions, 
   you can also be invited by a club and participate in group training.
   Don,t miss out on this opportunity to get your training to the highest level.<br><br>O-Flow</h4>
</div>

<div class="footer">
 <div class="footer-oflow">
  <h3>O-Flow</h3></div>
 <div class="footer-menu">
  <ul>
   <li>
    <a href="#">Home</a>
   </li>
   <li>
    <a href="#">Terms</a>
   </li>
   <li>
    <a href="#">Privacy Policy</a>
   </li>
   <li>
    <a href="#">Help</a>
   </li>
  </ul></div>
</div>
