<div class="footer">
 <div class="footer-oflow">
  <h3>O-Flow</h3></div>
 <div class="footer-menu">
  <ul>
   <li>
    <a href="#">Home</a>
   </li>
   <li>
    <a href="#">Terms</a>
   </li>
   <li>
    <a href="#">Privacy Policy</a>
   </li>
   <li>
    <a href="#">Help</a>
   </li>
  </ul></div>
</div>
